* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* intestazione */
header {
  background-color: #0C325A;
}

.wrapper {
  width: 90%;
  margin: auto;
}

nav {
  width: 100%;
  height: 57px;
  position: relative;
}
.logo {
  height: 57px;
  display: inline-block;
}
img {
  top: 5px;
  max-width: 100%;
}
.menu-sx, img, .menu-dx {
  position: absolute;
  line-height: 57px;
}

.menu-sx {
  left: 200px;
}

ul, li {
  display: inline-block;
}

.menu-sx li a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-size: 9pt;
}

.menu-dx {
  right: 0;
}

.menu-dx li a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 9pt;
}

.verde {
  border-radius: 5px;
  background-color: #7CBB02;
}
#login {
  padding: 8px 25px;
  border: 1px solid white;
  border-radius: 5px;
}

.bottone {
  padding: 8px 15px;
}
